<form action="">
	<input type="text" name="nombre" placeholder="Nombre(s)">
	<input type="text" name="apellido" placeholder="Apellido(s)">
	<input type="text" name="documento" placeholder="Número de documento">
	<input type="password" name="contraseña" placeholder="Contraseña">
	<input type="text" name="correo" placeholder="Correo electrónico">
	<input type="text" name="telefono" placeholder="Teléfono">
	<input type="text" name="rol" placeholder="Rol">
	<button type="submit">
		Save
	</button>
</form>